BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED" SITE "10" ; 
LOCATE COMP "LED2" SITE "67" ; 
LOCATE COMP "ROW[3]" SITE "19" ;
LOCATE COMP "ROW[2]" SITE "20" ;
LOCATE COMP "ROW[1]" SITE "21" ;
LOCATE COMP "ROW[0]" SITE "22" ;
LOCATE COMP "COL[3]" SITE "24" ;
LOCATE COMP "COL[2]" SITE "25" ;
LOCATE COMP "COL[1]" SITE "26" ;
LOCATE COMP "COL[0]" SITE "23" ;
LOCATE COMP "MatCol[15]" SITE "74" ; 
LOCATE COMP "MatCol[14]" SITE "73" ;
LOCATE COMP "MatCol[13]" SITE "76" ;
LOCATE COMP "MatCol[12]" SITE "75" ;
LOCATE COMP "MatCol[11]" SITE "71" ;
LOCATE COMP "MatCol[10]" SITE "69" ;
LOCATE COMP "MatCol[9]" SITE "70" ;
LOCATE COMP "MatCol[8]" SITE "68" ;

LOCATE COMP "MatCol[7]" SITE "128" ;
LOCATE COMP "MatCol[6]" SITE "127" ;
LOCATE COMP "MatCol[5]" SITE "117" ;
LOCATE COMP "MatCol[4]" SITE "34" ;
LOCATE COMP "MatCol[3]" SITE "113" ;
LOCATE COMP "MatCol[2]" SITE "140" ;
LOCATE COMP "MatCol[1]" SITE "141" ;
LOCATE COMP "MatCol[0]" SITE "125" ;




LOCATE COMP "MatRow[7]" SITE "35" ;
LOCATE COMP "MatRow[6]" SITE "142" ;
LOCATE COMP "MatRow[5]" SITE "33" ;
LOCATE COMP "MatRow[4]" SITE "143" ;
LOCATE COMP "MatRow[3]" SITE "115" ;
LOCATE COMP "MatRow[2]" SITE "32" ;
LOCATE COMP "MatRow[1]" SITE "126" ;
LOCATE COMP "MatRow[0]" SITE "114" ;
